@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    /*Por default o body tem 8px de borda o margin: 0 elemina essa borda*/
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Todos os elementos dentro do body terao um box-sizing border box*/
body * {
    box-sizing: border-box;
    /*para a margem de um componente não ultrapassar a margem do pai (div que ele esta dentro)*/
}

.main-login {
    /* O vh significa a quantidade de largura ou altura que a tela terá */
    /* O v significa viewport (a tela que é visualizada)*/
    width: 100vw;
    height: 100vh;
    background: #201b2c;

    /*para organizar os conteudos na div usamos o atributo display*/
    /*Flex faz com que os conteudos fiquem um aolado do outro*/
    display: flex;

    /*Justify center serve para justicar o conteudo, se ele fica a dereita, esquerda ou no centro*/
    justify-content: center;

    /*Justify-content alinha em relacao a x*/
    /*align-itemn alinha em relacao a y*/

    /* Alinhamos o conteudo no centro*/
    align-items:center;
}


.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.left-login > h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.left-login-image{
    width: 35vw;
}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    /*o width esta 60% porque ele vai ocupar 60% da div right-login e nao deve ocupar de acordo com a viewport*/
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    /*flex direction column diferente faz com que os componentes fiquem um em baixo do outro*/
    flex-direction: column;

    /*margens 30px do eixo Y e 35 do eixo X*/
    padding: 30px 35px;
    background:#2f2841;

    /*bordas com curvas*/
    border-radius: 20px;

    /*1-Sombra para x, 2-sombra para baixo/cima(negativos para cima),  3-parte rodeada  4-cor da sombra*/
    box-shadow: 0px 10px 40px #00000056;
    
}

.card-login > h1 {
    color: #00ff88;
    /*1- fon weight peso da letra (texto h1 a negrito)*/
    font-weight: 800;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*Quando usamos o flex-direction o justify content passa a ser o elemento Y e o align items fica como X*/
    align-items: flex-start;
    justify-content: center;
    margin:10px 0px ;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    /* Cor do texto digitado*/
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    /*para a mergem do input não passar a margem do card-login... criamos esse conflito*/
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield >::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    /*largura(margem interior) do documento*/
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    /*Espaçamento entre as letras*/
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    /*para o cursor tirar a maozinha do ponteiro ao aproximar ao botao*/
    cursor: pointer;
    /* -9px reduz o blur(40px) */
    box-shadow: 0px 10px 40px -9px #00ff8052;
}

/*Para responsividade quando a tela for menor que 950px*/
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

/*Para responsividade quando a tela for menor que 600px geralmente TELEMOVEIS*/
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    /*No celular precisamos ser objectivos e reduzir informacao desnecessaria*/
    .left-login > h1{
        /*Ocultar todos h1 do html*/
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 60vw;
    }

    .card-login{
        width: 90%;
        box-sizing: border-box;
    }
}