body{
    margin: 0;
}

.principal {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    
}

.painel > p{
    position: absolute;
    bottom: 0;
}